<ion-header>
  <ion-navbar color="primary">
      <ion-title>{{viewTitle}}Eventos</ion-title>
      <ion-buttons end>
          <!-- <button ion-button [disabled]="isToday" (click)="today()">Hoje</button>
          <button ion-button (click)="changeMode('month')">Mês</button>
          <button ion-button (click)="changeMode('week')">Semana</button> -->
          <!-- <button ion-button (click)="changeMode('day')">D</button>  -->          
      </ion-buttons>
  </ion-navbar>
  <ion-row>
      <ion-col col-2 col-sm *ngFor="let eventos of Eventos?.results; let index = index;">
        <ion-segment [(ngModel)]="Event">
          <ion-segment-button value="{{index}}">
            {{eventos.data}}
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
</ion-header>

<ion-content class="has-header">
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Puxe para atualizar"
          refreshingSpinner="crescent"
          refreshingText="Atualizando...">
        </ion-refresher-content>
      </ion-refresher> -->
  <!-- <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>   -->

     
  

    <div [ngSwitch]="Event">
        <div *ngFor="let eventos of Eventos?.results; let index = index;">
          <ng-container *ngSwitchCase="index">
              <ion-segment [(ngModel)]="Event">
                  <ion-segment-button value="{{index}}" >
                    {{eventos.dia}}
                  </ion-segment-button>
                </ion-segment>
            </ng-container>
              <ion-list  *ngSwitchCase="index">
                  <ion-item *ngFor="let reward of eventos.evento.tema; let id = index;" (click)="pushPageEvento(eventos.evento.horario[id],reward)">
                    <h2>
                      <p >{{reward}}</p>
                    </h2>
                    <p>{{eventos.evento.horario[id]}}</p> 
                    <button ion-button clear item-end>VER</button>
                  </ion-item>
              </ion-list>
        </div>
      </div>
</ion-content>