<!--
  Generated template for the CredenciadosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Grupos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Puxe para atualizar"
          refreshingSpinner="crescent"
          refreshingText="Atualizando...">
        </ion-refresher-content>
      </ion-refresher>
      <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

   

  <ion-list *ngFor="let item of items; let index = index;" >
      <ion-item [ngSwitch]="my_tab">
          <h2 >Nome: {{ item[0] }}</h2>
          <p>Sala: {{item[1]}}   <b (click)="pushPageG(item)">{{item[2]}}</b>   {{item[3]}}</p>

         


          <div *ngFor="let credenciado of credenciado; let id = index;" >
            <div *ngSwitchCase="id">


             

                  <p >
                    Sala: {{credenciado.descricao}} {{credenciado.titulo}}
                  </p>
            </div>  
            
          </div>
          <div [ngSwitch]="my_tab">
              <div *ngFor="let tab of tabs">
                <ng-container *ngSwitchCase="tab.key">
                  {{ tab.value }}
                </ng-container>
              </div>
            </div>
      </ion-item>
  </ion-list>
      <!-- <ion-list  *ngFor="let noticia of noticia.slice().reverse(); let id = index;"> -->
          <!-- <ion-item *ngFor="let noticia of noticia.slice().reverse(); let id = index;">
            <h2>Nome: {{noticia.results.titulo}}</h2>
            <p>Sala: {{noticia.results.descricao}}</p>
          </ion-item> -->
      <!-- </ion-list> -->
</ion-content>
